.audioPLayer {
  align-items: center;
  display: flex;
  width: 700px;
}

.playPause {
  background: none;
  border: none;
  width: 75px;
  height: 75px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
