.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary input {
  display: block;
  margin: 0 auto;
}

.Dictionary section {
  background: #e7eaf6;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: €333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
